################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookStore/BookStore/bin/Debug/netcoreapp3.1
/BookStore/BookStore/obj
/BookStore/.vs/BookStore/v16
/.vs
